html{
    font-size: 62.5%;
}
body{
    font-family: Lato, Helvetica, sans-serif;
    font-size: $default-size; 
}

button{
    cursor: pointer;
    &:disabled{
        cursor: default;
    }
}


.is-active{
    background: #777;
    font-size: 40px;
    color: black;
}
